/* 

    MOBILE

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* 
    VARIABLES
*/
:root{
    --fontSize: 14px;
    --paddingButtons: 13px 24px;
    --paddingForms: 21px 30px 21px 8px;
    --transition: all 150ms ease-out;
    --bshadow: 0px 0px 6px rgba(29, 29, 29, .1);
    --dark: #1d1d1d;
    --light: #fff;
    --bor: 6px;
    --sp-5: 5px;
    --sp-10: 10px;
    --sp-15: 15px;
    --sp-20: 20px;
    --sp-25: 25px;
    --sp-30: 30px;
    --w-100: 100%;
    --fs-1: 14px;
    --fs-2: 24px;
}


/* 
    BODY
*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}


/* 
    HEADER
*/
.header{
    width: 100%;
    background-color: #fff;
    font-size: var(--fontSize);
    position: fixed;
    top: 0;
    outline: 1px solid rgba(29, 29, 29, .1);
}
.header__container{
    margin: auto;
    padding: 8px 15px;
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__container div{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.header__container .header__logo{
    width: 40px;
}
.header__container .header__search{
    margin-left: 15px;
    border-radius: var(--borderRadius);
    outline: 1px solid rgba(116, 116, 116, 0.6);
    padding: var(--paddingForms);
    width: 400px;
    height: 40px;
    display: none;
    border: none;
}
.header__container .header__searchIcon{
    display: none;
    position: absolute;
    right: 10px;
    font-size: 24px;
}
.header__container .header__search:focus{
    overflow: hidden;
    border: none;
    outline: 2px solid var(--color);
    transition: var(--transition);
}
.header__container .header__search::placeholder{
    font-size: var(--fontSize);
}
.header__container .header__button{
    padding: var(--paddingButtons);
    text-decoration: none;
    color: #1d1d1d;
    display: none;
    transition: var(--transition);
    border-radius: var(--borderRadius);
}
.header__container .header__button:hover{
    background-color: rgba(48, 86, 163, .15);
    color: var(--color);
    text-decoration: underline;
}
.header__container .header__button--mod{
    outline: none;
    border: 1px solid var(--color);
    color: var(--color);
    display: inline-block;
}
.header__container .header__button--mod:hover{
    background-color: var(--color);
    color: #fff;
    text-decoration: underline;
}


/* 
    CONTAINER
*/
.container{
    margin: 60px 0px;
    width: 100%;
    max-width: 1250px;
    display: grid;
    grid-template: 
        "navbar navbar" auto
        "main main" auto / 1fr 1fr
    ;
    font-size: var(--fontSize);
}


/* 
    NAVBAR
*/
.navbar{
    /* outline: 1px solid rgba(29, 29, 29, 0.1); */
    border-radius: var(--borderRadius);
    color: #1d1d1d;
    grid-area: navbar;
    /* height: 60px; */
    width: 100%;
    /* background-color: aquamarine; */
    font-size: var(--fontSize);
    /* padding: 5px; */
}

/* NAVBAR DESKTOP */
.navbar__desktop{
    display: none;
}
.navbar__ul{
    width: 100%;
    /* background-color: blanchedalmond; */
}
.navbar__ul a{
    text-decoration: none;
    color: #000;
}
.navbar__ul a li{
    border-radius: var(--borderRadius);
    padding: 13px 10px;
    list-style: none;
    transition: var(--transition);
}
.navbar__ul a li:hover{
    background-color: var(--color);
    text-decoration: underline;
    color: #fff;
}
.navbar__ul a li i{
    width: 25px;
    padding-right: 5px;
}
.navbar__info{
    background-color: #fff;
    border-radius: var(--borderRadius);
    padding: 15px 13px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    outline: 1px solid rgba(29, 29, 29, .1);
}
.navbar__info--title{
    font-size: 20px;
}
.navbar__info--text{
    font-size: var(--fontSize);
    line-height: 25px;
}
.navbar__infoLinks{
    text-align: center;
    display: block;
    padding: 13px 0px;
    text-decoration: none;
    color: var(--color);
    border-radius: var(--borderRadius);
    transition: var(--transition);
}
.navbar__infoLinks:hover{
    background-color: rgba(48, 86, 163, .15);
}
.navbar__infoLinks--link{
    margin-bottom: 3px;
    border: 1px solid var(--color);
}
.navbar__infoLinks--link:hover{
    background-color: var(--color);
    color: #fff;
    text-decoration: underline;
}

/* NAVBAR MOBILE */
.nav__mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.nav__mobile--iconMod{
    font-size: 30px;
    cursor: pointer;
}
.check__menu{
    display: none;
}
.check__menu:checked~.nav__mobile__responsive
{
    opacity: 1;
    pointer-events: unset;
}
.nav__mobile__responsive{
    box-shadow: 0px 0px 20px rgba(29, 29, 29, .8);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
    overflow: auto;
}
.nav__mobile__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.nav__mobile__title p{
    text-transform: uppercase;
    font-weight: bold;
}


/* 
    SLIDEBAR
*/
.slidebar{
    border-radius: var(--borderRadius);
    color: #1d1d1d;
    display: none;
    grid-area: slidebar;
    /* height: 60px; */
    width: 100%;
    /* background-color: #fff; */
    font-size: var(--fontSize);
    border-radius: var(--borderRadius);
    overflow: hidden;
    /* outline: 1px solid rgba(29, 29, 29, .1); */
}
.slidebar__info{
    background-color: #fff;
    color: var(--color);
    padding: 20px;
    font-size: var(--fontSize);
    border-color: var(--color);
    border-left: 1px;
}
.slidebar__info:nth-child(2n+1){
    border-top: 1px;
}
.slidebar__info p{
    margin-bottom: 5px;
}


/* 
  CARD
*/
.container-main{
  grid-area: main;
  width: var(--w-100);
  display: flex;
  flex-direction: column;
  gap: var(--sp-10);
}
.card{
  background-color: var(--light);
  outline: 1px solid rgba(29, 29, 29, .1);
  padding: var(--sp-15);
  color: var(--dark);
  font-size: var(--fs-1);
  border-radius: var(--bor);
  box-shadow: var(--bshadow);
}
.card-image{
  margin-right: var(--sp-5);
  width: var(--sp-30);
  border-radius: var(--bor);
}
.card-person{
  display: inline-block;
  margin-bottom: var(--sp-10);
}
.info-title{
  font-size: var(--fs-2);
  margin-bottom: var(--sp-5);
}
.info-tag{
  text-decoration: none;
  color: var(--dark);
  padding: var(--sp-5);
  border-radius: var(--bor);
  display: inline-block;
}
.info-tag:hover{
  background-color: rgba(29, 29, 29, .1);
  color: var(--dark);
}
.info-tag__select{
  background-color: var(--dark);
  color: var(--light);
}
.info-interactive{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--sp-20);
}
.interactive-tag{
  padding: var(--sp-5) var(--sp-10);
  color: var(--dark);
  border-radius: var(--bor);
}
.interactive-tag:hover{
  background-color: rgba(29, 29, 29, .1);
  color: var(--dark);
}



@media screen and (min-width: 768px){

    .container{
        padding: 10px;
        grid-template: 
            "navbar main main" auto / .75fr 1fr 1fr;
        gap: 10px;
    }

    .header__container .header__button{
        display: inline-block;
    }

    .header__container .header__searchIcon{
        display: inline-block;
    }

    .header__container .header__search{
        display: inline-block;
    }

    .navbar{
        height: 100vh;
    }

    .navbar__desktop{
        display: block;
    }

    .nav__mobile{
        display: none;
    }

}



@media screen and (min-width: 1024px){
    
    .container{
        padding: 15px;
        grid-template: 
            "navbar main main slidebar" auto / .75fr 1fr 1fr 1fr;
        gap: 15px;
    }

    .header__container .header__button{
        display: inline-block;
    }

    .slidebar{
        display: inline-block;
        min-height: 60vh;
    }

}


/* SHORTCUT */
.ta-center{
  text-align: center;
}
.ta-right{
  text-align: right;
}
.ta-left{
  text-align: left;
}
.fw-bold{
  font-weight: bold;
}
.rounded{
  border-radius: var(--bor);
}


/* 
  FORMULARIO
*/
.container-md{
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--w-100);
  min-height: 100vh;
  padding: var(--sp-10);
  font-size: var(--fs-1);
}
.container-form{
  width: var(--w-100);
  max-width: 350px;
  background-color: var(--light);
  padding: var(--sp-30);
  outline: 1px solid rgba(29, 29, 29, .1);
  border-radius: var(--bor);
  box-shadow: var(--bshadow);
}
.form-title{
  display: block;
  color: var(--dark);
  font-size: var(--fs-2);
  margin-bottom: 40px;
}
.form-item{
  width: var(--w-100);
  margin: var(--sp-20) 0px;
}
.form-label{
  padding-left: var(--sp-10);
}
.form-input{
  width: var(--w-100);
  padding: var(--sp-10);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--dark);
}
.form-input:focus{
  border-bottom: 2px solid var(--dark);
}
.form-button{
  color: var(--light);
  margin: var(--sp-10) 0px;
  width: var(--w-100);
  padding: var(--sp-15) 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
  transition: var(--transition);
}
.form-button:active{
  background-color: var(--light);
  color: var(--dark);
  outline: 1px solid var(--dark);
}
.form-link{
  color: var(--dark);
  text-decoration: none;
  display: inline-block;
  margin-top: var(--sp-5);
}
.form-link:active{
  text-decoration: underline;
}
hr{
    border: 1px solid rgba(29, 29, 29, .1);
    margin-top: 15px;
    margin-bottom: 15px;
}